# lockfiles
Pipfile.lock
package-lock.json

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# development
dev

# secrets
.env

# binaries
__pycache__
*.pyc
assets/chromedriver

# misc
.vscode
