home.css
Last year
13 Sept 2020

You uploaded an item
Style Sheet
home.css
.listContainer {
    max-width: 700px;
    margin: auto;
    
}

.listContainer > h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2em;
    /*text-transform: uppercase;*/
}

.regionElement {
    border-radius: 20px;
    box-shadow: #BABECC 20px;
    padding: 20px;
    color: rgb(122, 126, 141);
    box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    font-family: rubik, sans-serif;
    margin: 30px;
}
.regionElement:hover {
        box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
        cursor: pointer;
}

.statusContainer {
    margin-top: 30px;
}

.status {
    display: block;
}

.statusMessage {
    display: inline-block;
    font-family: rubik, sans-serif;
}

.statusIndicator {
    margin-left: 30px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: right;
}


.dialog-enter {
    opacity: 0.01;
    transform: scale(1.1);
  }
  
  .dialog-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }
  
  .dialog-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .dialog-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
  }