@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

.fade-enter {
    position: absolute;
    opacity: 0;
}

.fade-enter-active {
    position: absolute;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.fade-exit {
    position: absolute;
    opacity: 1;
}

.fade-exit-active {
    position: absolute;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.material-icons-round {
    overflow: hidden;
}

.material-icons-round:before {
    opacity: 0;
}